.card{
 position: relative;
 width: 30%;
 border: 1px solid #777777;
 padding: 10px;
 margin: 10px auto;
 border-radius: 6px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;
 transition: 1s;
 cursor: pointer;
}
 h2,
 h3{
 color: #111111;
}