.App {
  text-align: center;
  transition: 1s;
}
.btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #0056b3;
}
.title {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
.book-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input-field {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: 2px solid #007bff;
  border-radius: 8px;
  outline: none;
  transition: 0.3s ease-in-out;
}

.input-field:focus {
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #0056b3;
  z-index: 2;
  backdrop-filter: blur(20px);
}
.navbar ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  margin: 0 1rem;
  list-style-type: none;
}
.navbar a {
  text-decoration: none;
  color: #343434;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover,
a:active,
a.active {
  color: #ff2200;
}
.form {
  width: 30%;
  display: block;
  margin: 1rem auto;
  background-color: #eee;
  box-shadow: 5px 5px 10px rgb(to right, #030303, #454545);
  padding: 1rem;
  overflow: hidden;
}

.form-input {
  padding: 0.8rem 0.3rem;
  margin: 0.5rem 0rem;
  width: 100%;
  border: 1px solid #eee;
}
.form label {
  margin: 0.5rem 0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
